<%= form_for @post, class: "form-horizontal" do |f| %>

  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "Overtime App Notification", sticky: false) %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :date, class: "col-sm-2 control-label" %>
    <%= f.date_field :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :rationale, class: "col-sm-2 control-label" %>
    <%= f.text_area :rationale, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.radio_button :status, 'submitted', id: 'post_status_submitted' %>
    <%= f.label :status, 'Submitted', for: 'post_status_submitted' %><br />

    <%= f.radio_button :status, 'approved', id: 'post_status_approved' %>
    <%= f.label :status, 'Approved', for: 'post_status_approved' %><br />

    <%= f.radio_button :status, 'rejected', id: 'post_status_rejected' %>
    <%= f.label :status, 'Rejected', for: 'post_status_rejected' %>
  </div>

  <%= f.submit "Save", class: 'btn btn-primary btn-block' %>

<% end %>